{% extends 'base.html' %}

<!-- Title on tab browser -->
{% block title %} Add Patient {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
<i class="fas fa-user-plus"></i>&nbsp;&nbsp; Add Patient
<!---->
{% endblock navbar-content %}

<!-- Button on navbar -->
{% block nav-btn %}
<a
  href="{% url 'logout' %}"
  class="btn btn-outline-danger border-light text-light btn-sm"
  id="btn-nav"
  >Logout</a
>
{% endblock nav-btn %}

<!-- PAGE CONTENT -->
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-body border-dark mt-5">
        <span class="text-center">
          {% block card-title %}
          <span class="text-primary">
          FILL OUT THE FROM BELOW
          </span>
          {% endblock card-title %}
        </span>
      </div>

      <!-- Form -->
      <form
        {% block Action %} action="/add_patient" {% endblock Action %}
        method="POST"
        enctype="multipart/form-data"
        class="card p-3 border-dark mt-3"
      >
        {% csrf_token %}

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text side-label">Name</span>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Patient name"
            required
            {% block Value-name  %} 
            {% endblock Value-name %}
          />
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text side-label">Phone</span>
          <input
            type="text"
            class="form-control"
            name="phone"
            placeholder="Patient phone"
            required
            {% block Value-phone  %} 
            {% endblock Value-phone %}
          />
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text side-label">Email</span>
          <input
            type="text"
            class="form-control"
            name="email"
            placeholder="Patient email"
            required
            {% block Value-email  %} 
            {% endblock Value-email %}
          />
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text side-label">Age</span>
          <input
            type="text"
            class="form-control"
            name="age"
            placeholder="Patient age"
            required
            {% block Value-age  %} 
            {% endblock Value-age %}
          />
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text side-label">Gender</span>
          <select 
            class="form-select" 
            name="gender" 
            required             
            {% block Value-gender  %} 
            {% endblock Value-gender %}
          >
            {% block option %}
            <option value="" hidden>Select the gender</option>
            {% endblock option %}
            <option disabled></option>
            <option>M</option>
            <option>F</option>
          </select>
        </div>

        <div class="from-group">
          <textarea
            class="form-control"
            name="note"
            rows="7"
            placeholder="Description is optional..."
          >{% block Value-note  %}{% endblock Value-note %}</textarea>
        </div>

        <div class="d-grid gap-2 mt-3">
          <button type="submit" class="btn btn-primary btn-sm">
            {% block Btn-content %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Add{% endblock Btn-content %}
          </button>

          <!-- Reset button denied here -->
          {% block Btn-reset %}{% endblock Btn-reset %}

          <a href="{% url 'backend' %}" class="btn btn-dark btn-sm"
            ><i class="fas fa-chevron-left"></i>&nbsp;&nbsp; Back</a
          >
        </div>

        <!-- Input ID denied here -->
        {% block Id-hidden %}{% endblock Id-hidden %}

      </form>
    </div>
  </div>
</div>

{% endblock content %}
