{% extends 'add.html' %}

<!-- Title on tab browser -->
{% block title %} Patient {% endblock title %}

<!-- Navbar content -->
{% block navbar-content %}
<i class="fas fa-user-edit"></i>&nbsp;&nbsp; {{ patient.name }}
{% endblock navbar-content %}

<!-- Title in card -->
{% block card-title %}
Registered at: <span class="text-primary">{{ patient.created_at | date:'m/d/Y (H:i)' }}</span> 
{% endblock card-title %}

<!-- Extends ADD Button -->
{% block Btn-content %}<i class="fas fa-hdd"></i>&nbsp;&nbsp; Save{% endblock Btn-content %}

<!-- Reset button denied here -->
{% block Btn-reset %}
<button type="reset" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp; Reset</button>
{% endblock Btn-reset %}

<!-- Form Action -->
{% block Action %} action="/edit_patient" {% endblock Action %}

<!-- =========== Extends all <inputs> =========== -->
{% block Value-name %} value="{{ patient.name }}" {% endblock Value-name %}
{% block Value-phone %} value="{{ patient.phone }}" {% endblock Value-phone %}
{% block Value-email %} value="{{ patient.email }}" {% endblock Value-email %}
{% block Value-age %} value="{{ patient.age }}" {% endblock Value-age %}

{% block option %} <option style="background-color: #d3d3d3; color: #007bff; font-weight: bold;">{{ patient.gender }}</option> {% endblock option %}
{% block Value-gender %} value="{{ patient.gender }}" {% endblock Value-gender %}

{% block Value-note %}{{ patient.note }}{% endblock Value-note %}

<!-- Input ID passed here -->
{% block Id-hidden %}<input type="hidden" name="id" value="{{ patient.id }}">{% endblock Id-hidden %}
